{% extends "layout.twig" %}

{% block page %}
  <div class="section error">
    <div class="container">
      <h2>Impressum</h2>
      <p>
        Das Genbukan Mikayama Dojo ist Teil des 
        <a href="https://www.ssc-karlsruhe.de" class="link">Sport- und SchwimmClub Karlsruhe e.V.</a>
      </p>
      <p>
        Für die Webseite des Genbukan Mikayama Dojo ist verantwortlich:
      </p>
      <blockquote>
        Sean Farrell<br>
        Amalienstraße 46<br>
        17633 Karlsruhe<br>
        Deutschland<br>
      </blockquote>
      <p>
        Sie können uns erreichen unter Tel: +49 176 588 74356 oder per E-Mail unter 
        <a href="mailto:contact@genbukanmikayama.de" class="link">contact@genbukanmikayama.de</a>
      </p>
      <h2 id="Datenschutz">Datenschutz</h2>
      <p>Diese Seite verwendet keine Cookies und speichert keine personenbezogenen Daten.</p>
      <h3>Datenverarbeitung durch Dritte</h3>
      <p>
        Wir nutzen das Content Delivery Network von Cloudflare Germany GmbH, 
        Rosental 7, c/o Mindspace, 80331 München, Deutschland, um die Sicherheit 
        und die Auslieferungsgeschwindigkeit unserer Website zu erhöhen. Dies 
        entspricht unserem berechtigten Interesse (Art. 6 Abs. 1 lit. f DSGVO).
      </p>
      <p>
        Ihr Browser übermittelt technische Daten, wie die IP-Adresse und 
        Browser-spezifische Informationen an Cloudflare und diese werden kurzfristig 
        gespeichert und anonym akkumuliert. Weitere Informationen finden Sie in der 
        <a href="https://www.cloudflare.com/de-de/gdpr/introduction/" class="link">Datenschutzerklärung von Cloudflare</a>.
      </p>
    </div>
  </div>
{% endblock %}
