{% extends "layout.twig" %}

{% block page %}
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <img src="/images/styles/taijutsu.jpg" class="responsive">
          <h3 class="section-heading" id="systeme">Ninpo</h3>
          <p class="section-description center">
            <a href="https://genbukan.org/">Ninpo</a>, auch bekannt als Ninjutsu, ist eine von 
            <a href="https://genbukan.org/the-grandmaster/sokes-history/">Großmeister Tanemura</a> gegründete Kampfkunstschule, 
            die dir den unbewaffneten und bewaffneten Kampf aus <a href="https://genbukan.de/kampfkuenste.html">allen 36 Schulen</a>
            der Ninja näherbringt. Angefangen bei Tai-Jutsu (Unbewaffnet), über Waffenkünste wie Hanbo-Jutsu (Kurzstock), 
            Biken-Jutsu (Schwert) bis zum Shuriken-Jutsu (Wurfmesser und Wurfstern), 
            können bei uns erlernt werden. 
          </p>
        </div>
        <div class="four columns">
          <img src="/images/styles/kjjr.jpg" class="responsive">
          <h3 class="section-heading" id="jujutsu">Jujutsu</h3>
          <p class="section-description center">
            <a href="https://genbukan.org/systems/kokusai-jujutsu-renmei/">Kokusai Jujutsu Renmei</a> ist eine traditionelle Jujustu-Schule 
            die ihre Techniken vom Genbukan Ninjustsu ableitet. 
            KJJR ist im Vergleich zum Ninjutsu einfacher zu lernen. Diese
            Jujustu-Schule wurde von <a href="https://genbukan.org/the-grandmaster/sokes-history/">Großmeister Tanemura</a> 
            gegründet, um authentisches traditionelles Jujustsu zu lehren, da er fühlte, das moderne Jujustu-Richtungen zu 
            verwässert wurden.
          </p>
        </div>
        <div class="four columns">
          <img src="/images/styles/goshinjutsu.jpg" class="responsive">
          <h3 class="section-heading" id="jujutsu">Goshinjutsu</h3>
          <p class="section-description center">
            Das <a href="https://tactical-defense-system.com/" class="link">Tactical Defense System</a>, entwickelt von 
            Kyoshi Aerts, ist eine moderne Selbstverteidigungsmethode, die auf dem Ninpo basiert. Es verbindet leicht 
            erlernbare Techniken mit einem ganzheitlichen Ansatz und ist in unterschiedlichsten Situationen anwendbar. 
            Ziel ist es, schnell und effektiv auf Bedrohungen zu reagieren, ohne komplexe Abläufe zu erfordern.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="four columns">
          <img src="/images/styles/hanbo.jpg" class="responsive">
          <h3 class="section-heading">Hanbo-Jutsu</h3>
          <p class="section-description center">
            Hanbo-Jutsu ist die Kunst des Kampfes mit dem Kurzstock. Es lehrt effektive Techniken zur Verteidigung und
             Kontrolle, basierend auf traditionellen Prinzipien des Ninjutsu.
          </p>
        </div>
        <div class="four columns">
          <img src="/images/styles/biken.jpg" class="responsive">
          <h3 class="section-heading">Biken-Jutsu</h3>
          <p class="section-description center">
            Biken-Jutsu ist die Kunst des Schwertkampfes. Es vermittelt präzise Techniken im Umgang mit traditionellen 
            japanischen Schwertern, basierend auf den Prinzipien des Ninjutsu.
          </p>
        </div>
        <div class="four columns">
          <img src="/images/styles/taijutsu.jpg" class="responsive"><!-- TODO Take shuriken key visual -->
          <h3 class="section-heading">Shuriken-Jutsu</h3>
          <p class="section-description center">
            Shuriken-Jutsu ist die Kunst des Werfens von Klingen. Es umfasst Techniken für den präzisen Einsatz von Wurfmessern 
            und Wurfsternen, basierend auf den Prinzipien des Ninjutsu.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section traning">
    <div class="container">
      <h3 class="section-heading" id="training">Training</h3>
      <div class="row">
        <div class="one-half column">
          <div id="map" style="height:100%;min-height:350px;border:1px  solid black"></div>
        </div>
        <div class="one-half column">
          <p class="section-description">
            Das Traning findet jeden Dienstag um 20:30 im Dojo des 
            <a href="https://www.ssc-karlsruhe.de/">SSC</a> stat.
          </p>
          <h5 class="section-description">Schnupper Training</h5>
          <p class="section-description">
            Unsicher ob Ninjutsu etwas für Dich ist? Komm gern zu einem Schnuppertraining vorbei. Du brauchst feste 
            Sportkleidung und etwas zu Trinken. Es ist kein spezielles Schuhwerk notwendig, da das Training barfuss 
            oder in Socken stattfindet.
          </p>
          <p class="section-description">
            Das Dojo findest du im SSC Hauptgebäude (Am Sportpark 5). Durch den Haupteingang rein,
            rechts die grüne Wendeltreppe in den Keller und Schilder für Judo folgen. Das Dojo
            ist rechts, die Tür sollte offen sein und es sieht sehr offensichtlich wie ein 
            Kampfsport Dojo aus.
          </p>
          <p class="section-description">
            Hast Du sonst noch Fragen oder findest Du uns nicht? Ruf mich an oder chatte mit mir via 
            WhatApp unter +49 176 588 74356 oder schreib mit eine Mail unter sean.farrell@genbukanmikayama.de.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section fees">
    <div class="container">
      <h3 class="section-heading" id="seminare">Mitgliedsbeiträge</h3>
      <div class="row">
        <div class="two-thirds column">
          <p class="section-description">
            Das Mikajama Dojo ist Teil des <a href="https://www.ssc-karlsruhe.de/">Sport- und SchwimmClub Karlsruhe e.V.</a>
            und somit ist eine Mitgliedschaft in SSC Voraussetzung. 
          </p>
          <p>
            Des Weiteren muss eine Mitgliedschaft in der <a href="https://genbukan.org/">Genbukan World Ninpo Bugei Federation</a> 
            beantragt werden, die Gebühren hierfür werden vom SSC übernommen.
          </p>
        </div>
        <div class="one-third column">
          <div class="price-block">
            <div class="price-title">Sport- und SchwimmClub Karlsruhe e.V.</div>
            <div>
              <span class="price">19,50 €</span> / Monat*<br>
              * Quartalszahlung: Abbuchung 58,50 €<br>
              <a href="https://www.ssc-karlsruhe.de/Verein/Mitgliedwerden/">Ermäsigte und Famileintarife</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var map = L.map('map').setView([49.02607, 8.44102], 15);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([49.02607, 8.44102]).addTo(map)
        .bindPopup('Dojo (Kampfsportraum) des SSC<br>Am Sportpark 5<br>76131 Karlsruhe')
        .openPopup();
  </script>
{% endblock %}
