<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Genbukan Mikayama Dojo</title>
    <meta name="description" content="Genbukan Mikayama Dojo">
    <meta name="author" content="Sean Farrell">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/beer/beer.css" rel="stylesheet">
    <link href="/css/mikayama.css" rel="stylesheet">
    <link href="/css/leaflet.css" rel="stylesheet">
    <link href="/css/autolink.css" rel="stylesheet">
    <link href="/css/yt-consent.css" rel="stylesheet">
    <script type="module" src="/beer/beer.js"></script>
    <script src="/js/leaflet.js"></script>
    <script src="/js/yt-consent.js"></script>
    <script src="/js/autolink.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body class="light">
    <main class="responsive">
      {% block page %}{% endblock %}
    </main>
    <footer>
      <nav class="center-align">
        <a href="/" class="link">Start</a>
        <a href="/impressum.html" class="link">Impressum</a>
        <a href="/impressum.html#datenschutz" class="link">Datenschutz</a>
        <a href="/intern.html" class="link">Intern</a>
      </nav>
    </footer>
    <script type="text/javascript">
      ytConsent();
      autolink();
    </script>
  </body>
</html>
