<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Genbukan Mikayama Dojo</title>
    <meta name="description" content="Genbukan Mikayama Dojo">
    <meta name="author" content="Sean Farrell">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/fonts.css"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/yt-consent.css">
    <link rel="stylesheet" href="/css/autolink.css">
    <link rel="stylesheet" href="/css/mikayama.css">
    <script src="/js/leaflet.js"></script>
    <script src="/js/yt-consent.js"></script>
    <script src="/js/autolink.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="section hero">
      <div class="container">
        <div class="row">
          <div class="one-third column hero-logo">
            <img class="logo" src="images/mikayama.png">
          </div>
          <div class="one-third column hero-text">
            <h3 class="hero-heading">Mikayama Dojo</h3>
            <p class="hero-description">Das Genbukan Ninjutsu Dojo in Karlsruhe.</p>
          </div>
          <div class="one-third column hero-logo">
            
          </div>
        </div>
      </div>
    </div>
    {% block page %}{% endblock %}
    <div class="section imprint center">
      <div class="container">
        <p class="section-description">
          <a href="/impressum.html">Impressum</a> 
          <a href="/impressum.html#Datenschutz">Datenschutz</a> 
          <a href="/intern.html">Interne Infos</a>
        </p>
        <p class="section-description">Diese Seite verwendet keine Cookies und speichert keine personenbezogenen Daten.</p>
      </div>
    </div>
    <script type="text/javascript">
      ytConsent();
      autolink();
    </script>
  </body>
</html>
